{% extends 'admin/layout.html' %}

{% block content %}
<div class="card edit">
  <header class="card-header">
    <p class="card-header-title">{{ title }} Setting</p>
  </header>
  <div class="card-content">
    <div class="content">
      <form method="post">
        <div class="field">
          <label class="label">Key</label>
          <div class="control">
            <input name="key" class="input" type="text" value="">
          </div>
        </div>
        <div class="field">
          <label class="label">Value</label>
          <div class="control">
            <input name="value" class="input" type="text" value="">
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <input type="submit" class="button is-link" value="Submit">
          </div>
          <div class="control">
            <a class="button is-text">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
